<section class="container-full">
  <div class="content">
    <div class="content-animation">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <%= image_tag('logo.png') %>
        
        <h1>Faça seu log in</h1>

        <div class="field">
          <div class="control has-icons-left">
            <%= f.email_field :email, class: "input is-rounded", placeholder: "E-mail" %>
            <span class="icon is-primary is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <div class="control has-icons-left">
            <%= f.password_field :password, class: "input is-rounded", placeholder: "Password" %>
            <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
          </div>
        </div>

        <div class="actions is-centered is-focus-padded">
          <%= f.submit "Log in", class: "button is-link is-info is-medium is-fullwidth" %>
        </div>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>

  <div class="content">
    <%= image_tag('c2.jpg', class: "image-background") %>
  </div>
</section>
