<section class="hero is-fullheight is-dark">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="card is-rounded">
          <div class="card-content">
            
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <label class="label">Email Address</label>
                <div class="control has-icons-left">
                  <%= f.email_field :email, class: "input is-rounded", placeholder: "E-mail" %>
                  <span class="icon is-primary is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                  <%= f.password_field :password, class: "input is-rounded", placeholder: "Password" %>
                  <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                </div>
              </div>

              <div class="field">
                <% if devise_mapping.rememberable? %>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end %>
              </div>

              <div class="actions is-centered is-focus-padded">
                <%= f.submit "Log in", class: "button is-link is-info is-medium is-fullwidth" %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>
          </div>
        </div> 
      </div>
    </div>
  </div>
</section>
